*

!.gitignore
!app/

!app/etc/
!app/etc/modules/
!app/etc/modules/QuBit_all.xml

!app/code/
!app/code/community/

!app/code/community/QuBit/
!app/code/community/QuBit/UniversalVariable/
!app/code/community/QuBit/UniversalVariable/*
!app/code/community/QuBit/UniversalVariable/*/*
!app/code/community/QuBit/UniversalVariable/*/*/*
!app/code/community/QuBit/UniversalVariable/*/*/*/*
!app/code/community/QuBit/UniversalVariable/*/*/*/*/*

!app/design/
!app/design/frontend/
!app/design/frontend/default/
!app/design/frontend/default/default/
!app/design/frontend/default/default/layout/
!app/design/frontend/default/default/layout/qubit/
!app/design/frontend/default/default/layout/qubit/*
!app/design/frontend/default/default/layout/qubit/*/*
!app/design/frontend/default/default/layout/qubit/*/*/*
!app/design/frontend/default/default/template/
!app/design/frontend/default/default/template/qubit/
!app/design/frontend/default/default/template/qubit/*
!app/design/frontend/default/default/template/qubit/*/*
!app/design/frontend/default/default/template/qubit/*/*/*

!README.md
!LICENSE.txt
!composer.json
!modman
*.DS_Store