<?xml version="1.0"?>
<config>
	<tabs>
        <QuBit_tab translate="label">
            <label>QuBit Open Tag</label>
            <sort_order>100</sort_order>
        </QuBit_tab>
    </tabs>
    <sections>
        <QuBit_UniversalVariable translate="label">
            <label>OpenTag Configuration</label>
            <tab>QuBit_tab</tab>
            <frontend_type>text</frontend_type> 
            <sort_order>2</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<QuBit_UniversalVariable translate="label">
                    <label>OpenTag Configuration setup</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <QuBit_id translate="label">
                            <label>Container ID</label>
                            <frontend_type>text</frontend_type>
                            <config_path>qubit/qubit_id</config_path>
                            <comment><![CDATA[Put the ID of your container format of 1111-11111]]></comment>                        
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </QuBit_id>
                        
                        <QuBit_setting translate="label">
                            <label>Set script as async</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>qubit/qubit_async</config_path>
                            <comment><![CDATA[If yes=async and no=sync]]></comment>                        
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </QuBit_setting>
                    </fields>
            	</QuBit_UniversalVariable>
            </groups>
        </QuBit_UniversalVariable>
    </sections>
</config>